/* Custom Props */
@font-face {
     font-family: 'Poppins';
     src: url('/fonts/Poppins-Bold.woff2') format('woff2'),
         url('/fonts/Poppins-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: 'Poppins';
     src: url('/fonts/Poppins-Medium.woff2') format('woff2'),
         url('/fonts/Poppins-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
     font-display: swap;
 }

/* Custom Props  */
:root{
     --white-color: #fff;
     --black-color: #34313D;
     --deep-black: #232127;
     --deep-violet:#3A3054;
     --violet: #4B3F6B;
     --light-black: #9E9AA8;
     --statistics-bg:  #F2F2F2;
     --light-blue: #2BD0D0;
     --font-family: "Poppins", "Arial", sans-serif;
     --submit-btn: #9AE3E3;
     --footer-links-color:  #BFBFBF;

}


/* Global  */

html{
     box-sizing: border-box ;
     height: 100%;
     scroll-behavior: smooth ;

}

*,
*::after,
*::before{
     box-sizing: inherit;
}

body{
     padding: 0;
     margin: 0;
     display: flex;
     font-size: 16px;
     line-height: 1.5 ;
     font-family: var(--font-family);
     flex-direction: column;
     height: 100%;
     background-color: var(--statistics-bg);
     color: var(--black-color);
}

img{
     max-width: 100%;
     height: auto;
}

/* CONTAINER  */
.container{
     width: 100%;
     max-width: 1440px;
     margin-left: auto;
     margin-right: auto;
     padding-left: 165px;
     padding-right: 165px;
}

/* Main content  */
.main-content{
     flex-grow: 1;
}

.main-section {
}

/* HEADER SECTION  */

.header-section {
     background-color: var(--white-color);
     padding-bottom: 222px;
}
.header-wrapper {
     padding-top: 58px;
     display: flex;
     flex-direction: column;
     position: relative;
}
.navabr-inner{
     display: flex;
     margin-bottom: 140px;
}
.logo-link {
     display: flex;
     margin-right: 45px;
     align-items: center;
     color:var(--white-color);
}

.logo-link:hover{
     opacity: 0.8;
}
.logo-link:active{
     opacity: 0.6;
}
.logo-img {
     width: 120px;
     height: 32px;
}
.header-navbar {
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-right: 30px;
     text-align: center;
}

.navbar-list:nth-child(2), .navbar-list:nth-child(1){
     margin-right: 30px;
}


.navbar-right{
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
     margin-right: 30px;
     text-align: center;
     margin-left: auto;
}
.navbar-list {
     list-style: none;
}

.navbar-link {
     text-decoration: none;
     color: var(--light-black);
     font-style: normal;
     font-weight: bold;
     font-size: 15px;
     line-height: 22px;
}

.navbar-link:hover{
     color:var(--black-color);
}
.navbar-link:active{
     color:var(--black-color);
     opacity: 0.8;
}
.sign-up-btn{
     margin-left: 37px;
     background-color:var(--light-blue);
     color:var(--white-color);
     font-style: normal;
     font-weight: bold;
     font-size: 15px;
     line-height: 22px;
     padding: 9px 23px 8px 24px ;
     border-radius: 30px;
}

.sign-up-btn:hover{
     background-color:var(--light-blue);
     color:var(--white-color);
     opacity: 0.8;
}
.sign-up-btn:active{
     background-color:var(--light-blue);
     color:var(--white-color);
     opacity: 0.6;
}
.header-content-wrapper {
     display: flex;

     position: relative;
}
.header-content {
     margin-right: auto;
}
.header-heading {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 80px;
     line-height: 90px;
     letter-spacing: -2px;
     width: 565px;
}
.header-text {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 500;
     font-size: 22px;
     line-height: 36px;
     letter-spacing: 0.15px;
     color:var(--light-black);
     margin-top: 5px;
     margin-bottom: 38px;
     width: 540px;
}
.cta-btn-wrapper{
     display: flex;
     align-items: center;
     justify-content: center;
}
.get-started-btn {
     margin: 0;
     padding: 0;
     text-decoration: none;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 30px;
     color:var(--white-color);
     background-color:var(--light-blue);
     padding: 14px 40px 12px 40px;
     border-radius: 28px;
}
.get-started-btn:hover{
     opacity: 0.8;
}
.get-started-btn:active{
     opacity: 0.6;
}
.hero-bg-img {
     position: absolute;
     right: -223px;
     top: -62px;

}

/* Shorten it form  */

.shorten-it {
     /* position: absolute; */
     background-image: url(/images/purple-bg.svg);
     width: 1110px;
     display: flex;
     align-items: center;
     border-radius: 10px;
     position: absolute;
     bottom: -53%;
}
.form-section {
     display: flex;
     padding: 42px 64px;
}
.input-text{
     padding: 0;
     margin: 0;
     width: 769px;
     padding-top: 14px;
     padding-bottom: 14px;
     padding-left: 32px;
     mix-blend-mode: normal;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 36px;
     letter-spacing: 0.15px;
     border:none;
     border-radius: 10px;
}
.input-text::placeholder{
     color:var(--black-color);
     opacity: 0.5;
}
.input-submit{
     margin: 0;
     padding: 0;
     margin-left: 24px;
     border-radius: 10px;
     font-style: normal;
     font-weight: bold;
     font-size: 20px;
     line-height: 30px;
     padding-right: 40px;
     padding-left: 40px;
     background-color: var(--light-blue);
     color:var(--white-color);
     cursor: pointer;
     border:none;
}
.input-submit:hover{
     background-color: var(--submit-btn);
}
.input-submit:active{
     opacity: 0.9;
}

/* <!-- Advanced Statistics section  --> */
.statistics-section {

     padding-bottom: 120px;
}
.statistics-header {
     padding: 0;
     margin: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 40px;
     line-height: 48px;
     text-align: center;
     letter-spacing: -1px;
     color:var(--black-color);
     padding-top: 120px;
}
.statistics-text {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 32px;
     text-align: center;
     letter-spacing: 0.122727px;
     color: var(--light-black);
     width: 540px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 18px;
     padding-bottom: 56px;
}
.advanced-box-wrapper {
     margin-top: 56px;
     display: flex;
     padding-bottom: 120px;
     position: relative;
}

/* Decoration  */
.advanced-box-wrapper::before{
     position: absolute;
     content: "";
     width: 100%;
     height: 8px;
     background-color: var(--light-blue);
     z-index: 1;
     top: 161px;
}
.advanced-box {
     display: flex;
     flex-direction: column;
     width: 350px;
     background-color: var(--white-color);
     border-radius: 5px;
     position: relative;
     z-index: 5;
}
.advanced-box:nth-child(2), .advanced-box:nth-child(1){
     margin-right: 30px;
}


.advanced-box-img-wrapper{
     width: 88px;
     height: 88px;
     background-color:var(--deep-violet);
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-left: 32px;
     transform: translateY(-44px);
}
.advanced-box-img {
     padding: 10px;

}
.advanced-box-heading {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 22px;
     line-height: 33px;
     color:var(--deep-violet);
     padding-left: 32px;
}
.advanced-box-text {
     margin: 0;
     padding: 0;
     width: 286px;
     padding-left: 32px;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 26px;
     color:var(--light-black);
     padding-bottom: 41px;
}

.advanced-box:nth-child(2){
     transform: translateY(44px);
}
.advanced-box:nth-child(3){
     transform: translateY(88px);
}

/* CTA SECTION  */
.cta-section {
     display: block;
     background-image: url("/images/cta-bg.svg");
     height: 250px;
     text-align: center;
}
.cta-header {
     margin: 0;
     padding: 0;
     font-style: normal;
     font-weight: bold;
     font-size: 40px;
     line-height: 48px;
     text-align: center;
     letter-spacing: -1px;
     color:var(--white-color);
     padding-top: 57px;
}
.cta-btn {
     width: 197px;
     margin-top: 32px;
     display: block;
     text-align: center;
}

/* Footer section  */
.footer-section {
     background-color: var(--deep-black);
}
.footer-section-wrapper {
     padding-top: 72px;
     padding-bottom: 72px;
}
.footer-links {
     display: flex;
}
.footer-logo-link{
     color: var(--white-color);
}
.footer-logo-link:hover{
     opacity: 0.8;
}
.footer-logo-link:active{
     opacity: 0.6;
}
.footer-logo-img{
}
.footer-link-inner{
     margin-left: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.footer-ul-list{
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: space-between;
}
.footer-inner-list{
     list-style: none;
     display: inline-block;
     margin-bottom: 22px;
}

.footer-link {
     color:var(--white-color);
     text-decoration: none;font-style: normal;
     font-weight: bold;
     font-size: 16px;
     line-height: 24px;
     letter-spacing: -0.25px;
     text-align: center;
}


.footer-link:hover{
     color:var(--light-blue);
}
.footer-link:active{
     color:var(--light-blue);
     opacity: 0.8;
}
.footer-socials {
     margin-left: auto;
     display: flex;
     justify-content: space-between;
}
.footer-media {
     display: inline-block;
}
.footer-media:not(:last-child){
     margin-right: 24px;
}
.footer-extras {
     display: flex;
     justify-content: space-between;

}
.footer-ul {
     margin: 0;
     padding: 0;

}
.footer-ul-center{
     padding: 0;
     margin: 0;
     margin-left: 70px;
     margin-right: 70px;
}
.footer-ul-left{
     margin: 0;
     padding: 0;
}
.footer-list {

     list-style: none;
     margin: 0;
     padding: 0;
}
.footer-list:not(:last-child){
     margin-bottom: 10px;
}
.footer-list-link {
     margin: 0;
     padding: 0;
     text-decoration: none;
     font-style: normal;
     font-weight: 500;
     font-size: 15px;
     line-height: 22px;
     letter-spacing: -0.234375px;
     color:var(--footer-links-color);
}

.footer-list-link:hover{
     color:var(--light-blue);
}
.footer-list-link:active{
     color:var(--light-blue);
     opacity: 0.8;
}


.footer-img {
     width: 24px;
     height: 24px;
     color: var(--white-color);
}

.footer-img:hover{
     color: var(--light-blue);
}
.footer-img:active{
     color: var(--light-blue);
     opacity: 0.8;
}

/* Pricing Section  */
.shorten-section{
     margin-top: 88px;
     display: flex;
     flex-direction: column;
}
.shorten-box {
     background-color: var(--white-color);
     padding-top: 18px;
     padding-bottom: 18px;
     padding-left: 32px;
     padding-right: 24px;
     border-radius: 5px;
     display: flex;
}

.shorten-box:not(:last-child){
     margin-bottom: 16px;

}
.shorten-link {
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 36px;
     letter-spacing: 0.15px;
}
.shortened-link {
     display:flex;
     align-items: center;
     margin-left: auto;
     color:var(--light-blue);
     margin-right: 24px;
     text-align: center;
}
.shorten-btn {
     width: 103px;
     font-style: normal;
     font-weight: bold;
     font-size: 15px;
     line-height: 22px;
     color:var(--white-color);
     background-color: var(--light-blue);
     border-radius: 5px;
     border:none;
     cursor: pointer;
}
.shorten-btn:hover{
     opacity: 0.8;
}
.shorten-btn:active{
     opacity: 0.6;
}
.copied{
     background-color:var(--deep-violet);
}
